<div class="container mt-3">
  <%= simple_form_for [chat, message] do |f| %>
    <% placeholder_text = chat.messages.count == 0 ? "Help me get a meal plan" : "Add a new message" %>

    <%= f.input :content, 
                label: false, 
                required: true, 
                placeholder: placeholder_text %>
  <% end %>
</div>
