<div class="container mt-5">

<%= link_to "← Back", request.referer || meal_plans_path, id: "backLink" %>

  <h1>New Meal Plan</h1>
  <div class="w-50">
    <%= simple_form_for @meal_plan do |f| %>
      <%= f.input :start_date, label: "When do you want your meal plan to start?" %>
      <%= f.submit "Create Meal Plan", class: 'btn btn-outline-success' %>
    <% end %>
  </div>
</div>
