// Specific CSS for your home-page
.carousel-item {
  height: 100%;
  object-position: 50% 50%;
  img {
    object-fit: cover;
  }
}

.carousel-inner {
  border-radius: 5px;
  height: 400px;
}

.btn-outline-success {
  border-color: rgb(0, 128, 0);
  color: rgb(0, 128, 0);
  border-radius: 5px;
}

.btn-outline-success:hover {
    background-color: rgb(0, 128, 0);
    border-color: rgb(0, 128, 0);
    color: white;
  }
